body {
  margin: 0;
  padding: 0;
  background-color: rgb(218, 217, 217);
}

.App {
  height: 100%;
  text-align: center;
}

.App-header {
  position: fixed;
  width: 100%;
  background-color: #222;
  height: 28px;
  padding: 20px;
}

.App-link {
  color: #fff;
  margin: 10px;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
}

.App-link:hover {
  color: rgb(218, 217, 217);
  text-decoration: underline;
}

.App-main {
  padding-top: 70px;
}

.App-message, .App-form {
  width: 60%;
  min-height: 150px;
  margin: 10px auto;
  padding: 5px;
  color: rgb(39, 37, 37);
  background-color: rgb(120, 119, 119);
  font-size: 1.6em;
}

.App-btn {
  outline: none;
  width: 80px;
  height: 30px;
  margin: 5px;
  color: #fff;
  background-color: rgb(193, 122, 135);
  border-radius: 5px;
  font-size: 0.8em;
  border-top-color: rgb(187, 180, 180);
  border-left-color: rgb(187, 180, 180);
}

.App-btn:hover {
  background-color: rgb(202, 124, 140);
  border-top-color: #fff;
  border-left-color: #fff;
}
